.login-page{
    background: linear-gradient(rgba(0, 0, 0,0.216),black),url("https://images.unsplash.com/photo-1532012197267-da84d127e765?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGxpYnJhcnl8ZW58MHx8MHx8fDA%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    .head{
        position: absolute;
        color: white;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: .9;
    }
}

#root,html,body{
    height: 100%;
}