.search{
    background-color: #131842;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    justify-content: end;
    margin-bottom: 20px;
    
}
.search input{
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
input:focus{
    outline: 3px solid greenyellow;
}
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    max-width: 300px;
  }

.icon {
    margin-right: 8px;
    color: #888;
  }

  
  
 