
  .search {
    display: flex;
    align-items: center;
    border: 1px solid #131842;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #131842;
   color: white;
   max-width: 100%;
justify-content: space-between;
    margin: 30px auto;

  }
  .kullanici{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }
  .kullanici .card{
    height: 60px;
    width: 300px;
  }
  .kullanici .card img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .input-field {

    margin-left: 10px;
    margin-right: 10px;
    
    flex: 1;
    font-size: 16px;
    background-color: transparent;
   
    
  }
  .input-field:focus{
  color: white;
  
}
  
  .input-field::placeholder {
    color: white;
    text-align: end;
    
  }
  
  .search-bar{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
 