nav{
    // background: linear-gradient(#006769,#ff440000);
    // background: linear-gradient(to right bottom, #006769, #65b61a, #006769);
    background: linear-gradient(to right top, #0d4445, #1b5d56, #307664, #4c906e, #6da976, #72ab6f, #78ad67, #7fae5f, #659948, #4a8532, #2e711b, #065d00);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;

    .brand{
        font-size: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: default;
        img{
            width: 90px;
        }
    }
    .liste{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;
        li{
            
            .active{
                color: #adee4a;
                font-size:20px ;
                font-weight: bold;
            }
            color: #E6FF94;
            font-size: 17px;
            transition: .3s;
            cursor: pointer;
            &:hover{
                background-color:#157274 ;
                border-radius: 5px;
                transform: scale(1.1);
            }
            a{
                text-decoration: none;
                color: white;
            }
            

            
        }
    }
    h3{
        color: #E6FF94;
    }
    
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background: linear-gradient(to right top, #0d4445, #1b5d56, #307664, #4c906e, #6da976, #72ab6f, #78ad67, #7fae5f, #659948, #4a8532, #2e711b, #065d00);
  letter-spacing: 1px;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: auto;
  
  .contact-info,
  .social-media {
    h2 {
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 10px;
      }
    }
  }

  .social-media {
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
  